* {
  box-sizing: border-box;
}

.content {
  text-align: center;
}

.content h1 {
  font-family: 'Sansita', sans-serif;
  letter-spacing: 1px;
  font-size: 50px;
  color: #282828;
  margin-bottom: 10px;
}

.content i {
  color: #FFC107;
}

.content span {
  position: relative;
  display: inline-block;
}

.content span:before,
.content span:after {
  position: absolute;
  content: "";
  background-color: #282828;
  width: 40px;
  height: 2px;
  top: 40%;
}

.content span:before {
  left: -45px;
}

.content span:after {
  right: -45px;
}

.content p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
}

.wrapper-star {


  border: none;
  font-size: 14px;
  left: 50%;
  transform: translateX(-50%);
}

.wrapper-star input {
  border: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  opacity: 0;
}

.wrapper-star label {
  position: relative;
  float: right;
  color: #C8C8C8;
}

.wrapper-star label:before {
  margin: 5px;
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  font-size: 1.5em;
  color: #ccc;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.wrapper-star input:checked~label:before {
  color: #FFC107;
}

.wrapper-star label:hover~label:before {
  color: #ffdb70;
}

.wrapper-star label:hover:before {
  color: #FFC107;
}

.wrapper-star {
  position: relative;
  display: inline-block;
  border: none;

}

swiper-slide {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}


swiper-slide {
  background-size: contain;
  background-position: bottom;
}

.mySwiper {
  height: 80%;
  width: 50%;
  transform: translate(-300px, 70px);
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.navbar {
  position: sticky;
  top: 5px;
}


.swiper-container-free-mode>.swiper-wrapper {
  transition-timing-function: linear;
}

.active-nav {
  border: 2px 2px 2px 2px solid #6295a1;
  border-radius: 20px;
}

body {
  background-color: white;
}

.my-bg {
  background-image: linear-gradient(to bottom, #0e21a0, #2030b0, #2e3ec1, #3a4cd1, #465be2);
}

.my-bgs {
  color: black;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.hdr {
  color: white;
  font-weight: 800;
  letter-spacing: 1px;
}

.img-gal img {
  max-width: 200px;
  max-height: 200px;
  height: auto;
  object-fit: contain;
}

.mytxt-b {
  color: black;
}

/* #e39ac9; */
.grad-text {
  background-image: linear-gradient(to left bottom, #eeff00, #ffc500, #ff882a, #ff4a56, #e80e78);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  letter-spacing: 1px;
}

/* top shapediv */
.custom-shape-divider-top-1693637795 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1693637795 svg {
  position: relative;
  display: block;
  width: calc(156% + 1.3px);
  height: 304px;
}

.custom-shape-divider-top-1693637795 .shape-fill {
  fill: #0E21A0;
}

.custom-shape-divider-top-1693638366 {
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1693638366 svg {
  position: relative;
  display: block;
  width: calc(295% + 1.3px);
  height: 280px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1693638366 .shape-fill {
  fill: #FFFFFF;
}


/* bottom shape divider */
.custom-shape-divider-bottom-1693619396 {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1693619396 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 135px;
  ;
}

.custom-shape-divider-bottom-1693619396 .shape-fill {
  fill: #FFFFFF;
}

.mask-splash {
  mask-repeat: no-repeat;
  -webkit-mask-image: url(../img/design/splashart.png);
  mask-image: url(../img/design/splashart.png);
  -webkit-mask-repeat: no-repeat;
  mask-size: fill;
  -webkit-mask-size: 100% 100%;
}

/* welcome bg */
.dynamic-bg {
  background-color: q;
  /* background-image: linear-gradient(to left bottom, #291fb5, #7d0faf, #ae05a6, #d31b9c, #f03992); */
}

.tagline {
  position: absolute;
  top: 50%;
  left: 50%;

}

/* wheretogo swiper */
.swiperW {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  transform: translate(0, 0);
}

.swiperW .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiperW .swiper-slide img {
  display: block;
  width: 350px;
  height: 300px;
  object-fit: cover;
}

.divider {
  border-left: 3px solid rgba(160, 160, 160, .4);
}

.gall-clicked {
  display: block;
  min-width: 500px;
  width: 80%;
  height: 70vh;
}

.gall-clicked img {
  width: 100%;
  height: 70%;
  object-fit: contain;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

form input:disabled {
  background-color: white;
}