*{
  box-sizing: border-box;
}
.content {
  text-align: center;
}
.content h1 {
  font-family: 'Sansita', sans-serif;
  letter-spacing: 1px;
  font-size: 50px;
  color: #282828;
  margin-bottom: 10px;
}
.content  i {
  color: #FFC107;
}
.content span {
  position: relative;
  display: inline-block;
}
.content  span:before, .content  span:after {
  position: absolute;
  content: "";
  background-color: #282828;
  width: 40px;
  height: 2px;
  top: 40%;
}
.content  span:before {
  left: -45px;
}
.content  span:after {
  right: -45px;
}
.content p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
}
.wrapper-star {


  border: none;
  font-size: 14px;
  left: 50%;
  transform: translateX(-50%);
}

.wrapper-star input {
  border: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  opacity: 0;
}

.wrapper-star label {
  position: relative;
  float: right;
  color: #C8C8C8;
}

.wrapper-star label:before {
  margin: 5px;
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  font-size: 1.5em;
  color: #ccc;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.wrapper-star input:checked ~ label:before {
  color: #FFC107;
}

.wrapper-star label:hover ~ label:before {
  color: #ffdb70;
}

.wrapper-star label:hover:before {
  color: #FFC107;
}
.wrapper-star {
    position: relative;
    display: inline-block;
    border: none;
  
  }
  
  swiper-container {
    width: 100%;
    height: 100%;
  }

  swiper-slide {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  swiper-container {
    width: 100%;
    height: 300px;
  }

  swiper-slide {
    background-size: cover;
    background-position: bottom;
  }

  .mySwiper {
    height: 100%;
    width: 100%;
  /* clip-path: polygon(15.2% 0%, 100% 0%, 100% 100%, 75.9% 85.8%, 50.7% 86.3%, 22% 86.5%, 0% 100%, 0% 0%); */
  }

  .mySwiper2 {
    height: 15%;
    box-sizing: border-box;
    padding: 10px 0;
    margin: auto 0;    
  }

  .mySwiper2 swiper-slide {
    width: 20%;
    height: 80%;
    margin: auto auto;
    opacity: 0.4;
  }

  .mySwiper2 .swiper-slide-thumb-active {
    width: 20%;
    height: 100%;
    opacity: 1;
  }

  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .navbar{
     position: sticky;
     top:5px;
  }

  .mySwiper2{
    width: 300px;
    position: absolute;
    bottom: 180px;
    left: 20px;
    /* left: 50%;
    transform: translateX(-50%); */
  }

  .swiper-container-free-mode > .swiper-wrapper{
    transition-timing-function : linear;
  }

.active-nav{
  border: 2px 2px 2px 2px solid #6295a1;
  border-radius: 20px;
}

.my-bg{
  background-image: linear-gradient(to bottom, #fccb90 0%, #d57eeb 100%);
}
.my-bgs{
  color: white;
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}

.hdr{
  color: white;
  font-weight: 800;
  letter-spacing: 1px;
}

.img-gal img {
 max-width: 200px;
 max-height: 200px;
 height: auto;
 object-fit: contain;
}


.custom-shape-divider-top-1693540326 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1693540326 svg {
  position: relative;
  display: block;
  width: calc(257% + 1.3px);
  height: 87px;
}

.custom-shape-divider-top-1693540326 .shape-fill {
  fill: #eba9b8;
}

.custom-shape-divider-bottom-1693540907 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1693540907 svg {
  position: relative;
  display: block;
  width: calc(145% + 1.3px);
  height: 124px;
}

.custom-shape-divider-bottom-1693540907 .shape-fill {
  fill: #eba9b8;
  
}
/* #e39ac9; */
.grad-text{
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}